*.o
2_Hardware/Etape_1/bin/main
2_Hardware/Etape_1/bin/main
2_Hardware/Etape_1/bin/main
.DS_Store
1_Software/Etape_1/bin/main
*.json
1_Software/Etape_2/bin/main
1_Software/Etape_3/bin/main
1_Software/Etape_4/bin/main
1_Software/Etape_5/bin/main
1_Software/Etape_6/bin/main
1_Software/Etape_7/bin/main
1_Software/Etape_8/bin/main
2_Hardware/Etape_1/vivado/2_Hardware.cache
2_Hardware/Etape_1/vivado/2_Hardware.hbs
2_Hardware/Etape_1/vivado/2_Hardware.hw
2_Hardware/Etape_1/vivado/2_Hardware.ip_user_files
2_Hardware/Etape_1/vivado/2_Hardware.sim

2_Hardware/Etape_2/vivado/2_Hardware.cache
2_Hardware/Etape_2/vivado/2_Hardware.hbs
2_Hardware/Etape_2/vivado/2_Hardware.hw
2_Hardware/Etape_2/vivado/2_Hardware.ip_user_files
2_Hardware/Etape_2/vivado/2_Hardware.sim

2_Hardware/Etape_3/vivado/2_Hardware.cache
2_Hardware/Etape_3/vivado/2_Hardware.hbs
2_Hardware/Etape_3/vivado/2_Hardware.hw
2_Hardware/Etape_3/vivado/2_Hardware.ip_user_files
2_Hardware/Etape_3/vivado/2_Hardware.sim
